<h1>All National Parks</h1>

<% @national_parks.each do |national_park| %>
  <h3><a href="/national_parks/<%= national_park.id %>"><%= national_park.name %></a></h3>
  <p>Acreage: <%= national_park.acreage %> acres</p>
  <p>Seasonal?: <%= national_park.is_seasonal %></p>
  <p>Created At: <%= national_park.created_at %></p>
  <p>Updated At: <%= national_park.updated_at %></p>
  <br>
  <!-- <table>
    <tr>
      <td>Area</td>
      <td><%= national_park.acreage %> acres</td>
    </tr>
    <tr>
      <td>Seasonal?</td>
      <td><%= national_park.is_seasonal %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%= national_park.created_at %></td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td><%= national_park.updated_at %></td>
    </tr>
  </table>
  <br> -->
<% end %>
