<a href="/national_parks">National Park Index</a>

<h1><%= @national_park.name %></h1>

<p><%= @national_park.acreage %></p>
<p><%= @national_park.seasonal %></p>
<p><%= @national_park.created_at %></p>
<p><%= @national_park.updated_at %></p>

<a href="/national_parks/<%= @national_park.id %>/trails">Trails in National Park Index</a>
