<h1><%= @national_park.name %></h1>

<p>
  Seasonal?: <%= @national_park.is_seasonal %><br>
  Acreage: <%= @national_park.acreage %> acres<br>
  Number of Trails: <%= @national_park.trail_count %><br>
  Created at: <%= @national_park.created_at %><br>
  Updated at: <%= @national_park.updated_at %><br>
</p>

<%= button_to 'Edit', "/national_parks/#{@national_park.id}/edit", method: :get %>
<%= button_to 'Delete', "/national_parks/#{@national_park.id}", method: :delete %><br>

<%= link_to "Trails at #{@national_park.name}", "/national_parks/#{@national_park.id}/trails"%>
