<h1>Trails at <%= @national_park.name %> National Park</h1>

<% @trails.each do |trail| %>
  <h3><%= link_to "#{trail.name}", "/trails/#{trail.id}" %></h3>
  <%= button_to "Edit #{trail.name}", "/trails/#{trail.id}/edit", method: :get %>
  <%= button_to "Delete #{trail.name}", "/trails/#{trail.id}", method: :delete %>
  <p>Created at: <%= trail.created_at %></p>
  <p>Updated at: <%= trail.updated_at %></p>
  <p>Loop?: <%= trail.is_loop %></p>
  <p>Length: <%= trail.length %> miles</p>
  <br>
<% end %>

<%= link_to 'Create Trail', "/national_parks/#{@national_park.id}/trails/new" %>
<%= link_to 'Sort Trails By Name', "/national_parks/#{@national_park.id}/trails?sort=name_asc" %>

<%= form_with url: "/national_parks/#{@national_park.id}/trails?length=#{@length}", method: :get, local: true do |form| %>
  <%= form.label :length, 'Length:' %>
  <%= @length = form.text_field :length %>
  <%= form.submit 'Only return trails with more than this length' %>
<% end %>
