<h2>Edit <%= @trail.name %> </h2>

<%= form_with url: "/trails/#{@trail.id}", methods: :patch, local: true do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %><br><br>

  <%= form.label :length, 'Length (miles):' %>
  <%= form.text_field :length %><br><br>

  <%= form.label :is_loop, 'Loop:' %>
  <%= form.check_box :is_loop, {}, 'true', 'false' %><br><br>

  <%= form.label :national_park_id %>
  <%= form.collection_select :national_park_id, NationalPark.all, :id, :name %><br><br>

  <%= form.submit 'Update Trail' %>
<% end %>
