<h1>All Trails - Loop Only</h1>

<% @trails.each do |trail| %>
  <h3><%= link_to "#{trail.name}", "/trails/#{trail.id}" %></h3>
  <%= button_to "Edit #{trail.name}", "/trails/#{trail.id}/edit", method: :get %>
  <%= button_to "Delete #{trail.name}", "/trails/#{trail.id}", method: :delete %>
  <p>National Park: <%= NationalPark.find(trail.national_park_id).name %></p>
  <p>Created At: <%= trail.created_at %></p>
  <p>Updated At: <%= trail.updated_at %></p>
  <p>Loop?: <%= trail.is_loop %></p>
  <p>Length: <%= trail.length %> miles</p>
  <br>
<% end %>
