<h1>All Trails</h1>

<% @trails.each do |trail| %>
  <h3><a href="/trails/<%= trail.id %>"><%= trail.name %></a></h3>
  <h3><%= trail.length %></h3>
  <h3><%= trail.is_loop %></h3>
  <h3><%= NationalPark.find(trail.national_park_id).name %></h3>
  <h3><%= trail.created_at %></h3>
  <h3><%= trail.updated_at %></h3>
<% end %>
