<a href="/trails">Trail Index</a>

<h1><%= @trail.name %></h1>

<p>Length: <%= @trail.length %> miles</p>
<p>Loop?: <%= @trail.is_loop %></p>
<p>National Park: <%= NationalPark.find(@trail.national_park_id).name %></p>
<p>Created At: <%= @trail.created_at %></p>
<p>Updated At: <%= @trail.updated_at %></p>

<!-- <table>
  <tr>
    <td>National Park</td>
    <td><%= NationalPark.find(@trail.national_park_id).name %></td>
  </tr>
  <tr>
    <td>Length</td>
    <td><%= @trail.length %> miles</td>
  </tr>
  <tr>
    <td>Loop?</td>
    <td><%= @trail.is_loop %></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td><%= @trail.created_at %></td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= @trail.updated_at %></td>
  </tr>
</table> -->
