<h1><%= @trail.name %></h1>

<p>
  Loop?: <%= @trail.is_loop %><br>
  Length: <%= @trail.length %> miles<br>
  National Park: <%= NationalPark.find(@trail.national_park_id).name %><br>
  Created at: <%= @trail.created_at %><br>
  Updated at: <%= @trail.updated_at %>
</p>

<%= button_to 'Edit', "/trails/#{@trail.id}/edit", method: :get %>
<%= button_to 'Delete', "/trails/#{@trail.id}", method: :delete %>
