<h1><%= @trail.name %></h1>

<p>Length: <%= @trail.length %> miles</p>
<p>Loop?: <%= @trail.is_loop %></p>
<p>National Park: <%= NationalPark.find(@trail.national_park_id).name %></p>
<p>Created At: <%= @trail.created_at %></p>
<p>Updated At: <%= @trail.updated_at %></p>
