<h1>All Campgrounds</h1>

<% @campgrounds.each do |campground| %>
  <h3>
    <%= link_to "#{campground.name}", "/campgrounds/#{campground.id}", method: :get %>
    <%= campground.created_at %>
    <%= button_to "Edit #{campground.name}", "/campgrounds/#{campground.id}/edit", method: :get %>
    <%= button_to "Delete #{campground.name}", "/campgrounds/#{campground.id}", method: :delete %>
  </h3>
<% end %>

<%= link_to 'New Campground', '/campgrounds/new', method: :get %>
