<h2>New Campground</h2>

<%= form_with url: '/campgrounds', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :max_nights %>
  <%= form.text_field :max_nights %>
  <%= form.label :reservation_allowed %>
  <%= form.check_box :reservation_allowed, {}, 'true', 'false' %>

  <%= form.submit 'Create Campground' %>
<% end %>
