<a href="/campgrounds">Campground Index</a>

<h1><%= @campground.name %></h1>

<p>
  Created at: <%= @campground.created_at%><br>
  Updated at: <%= @campground.updated_at %><br>
  Reservations Allowed: <%= @campground.reservation_allowed %><br>
  Max Nights Stay: <%= @campground.max_nights %>
</p>

<a href="/campgrounds/<%= @campground.id %>/campsites">Campsites at Campground</a>
