<h1><%= @campground.name %></h1>

<p>
  Reservations Allowed: <%= @campground.reservation_allowed %><br>
  Max Nights Stay: <%= @campground.max_nights %><br>
  Number of Campsites: <%= @campground.campsite_count %><br>
  Created at: <%= @campground.created_at%><br>
  Updated at: <%= @campground.updated_at %>
</p>

<%= button_to 'Edit', "/campgrounds/#{@campground.id}/edit", method: :get %>
<%= button_to 'Delete', "/campgrounds/#{@campground.id}", method: :delete %><br>

<%= link_to 'Campsites at Campground', "/campgrounds/#{@campground.id}/campsites", method: :get %>
