<h2>New Campsite</h2>

<%= form_with url: "/campgrounds/#{@campground.id}/campsites/", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :overnight_fee %>
  <%= form.text_field :overnight_fee %>
  <%= form.label :tent_only %>
  <%= form.check_box :tent_only, {}, 'true', 'false' %>

  <%= form.submit 'Create Campsite' %>
<% end %>
