<h2>New Campsite</h2>

<%= form_with url: "/campgrounds/#{@campground.id}/campsites/", method: :post, local: true do |form| %>
<%= form.label :name, 'Name:' %>
<%= form.text_field :name %><br><br>
<%= form.label :overnight_fee, 'Overnight Fee:' %>
<%= form.text_field :overnight_fee %><br><br>
<%= form.label :tent_only, 'Tent Only:' %>
<%= form.check_box :tent_only, {}, 'true', 'false' %><br><br>

  <%= form.submit 'Create Campsite' %>
<% end %>
