<h1><%= @campsite.name %></h1>

<p>
  <%= "Campground: #{Campground.find(@campsite.campground_id).name}" %><br>
  <%= "Created at: #{@campsite.created_at}" %><br>
  <%= "Updated at: #{@campsite.updated_at}" %><br>
  <%= "Campsite is Tent Only: #{@campsite.tent_only}" %><br>
  <%= "Overnight Fee: #{@campsite.overnight_fee}" %>
</p>

<%= link_to "Update #{@campsite.name}", "/campsites/#{@campsite.id}/edit" %>
<%= button_to "Delete", "/campsites/#{@campsite.id}", method: :delete %>
