<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'National Park Index', '/national_parks' %> |
      <%= link_to 'Trail Index', '/trails' %> |
      <%= link_to 'Campground Index', '/campgrounds' %> |
      <%= link_to 'Campsite Index', '/campsites' %>
    </nav>
    <%= yield %>
  </body>
</html>
