<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/national_parks">National Park Index</a> |
      <a href="/trails">Trail Index</a> |
      <a href="/campgrounds">Campground Index</a> |
      <a href="/campsites">Campsite Index</a> |
    </nav>
    <%= yield %>
  </body>
</html>
